<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h1>Create a new Listing</h1>
    <form method="POST"  action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy Title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Enter a Suitable Title</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="valid-feedback">Wow, that description really brings the image to life!</div>
            <div class="invalid-feedback">Must Describe</div>
        </div>

   
<!-- IMAGE -->

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]" type="file" class="form-control">
            
        </div>



        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter price" type="number"  required class="form-control">
                <div class="valid-feedback">Seems like a decent price</div>
                <div class="invalid-feedback">Enter a valid price</div>
            </div>
    
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter Country" type="text"  class="form-control" required>
                <div class="valid-feedback">Suitable Country</div>
                <div class="invalid-feedback">Enter a Valid Country</div>
            </div>

        </div>

        


        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
            <div class="valid-feedback">Seems Valid!</div>
            <div class="invalid-feedback">Enter a valid location</div>
        </div>


        <button class="btn btn-dark add-btn">Add</button>
    </form>
    </div>
</div>    
    

    

